<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>桃園一日遊 Taoyuan Day Trip</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="" />
    <link rel="icon" href="/images/trip.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <a id="title" href="/">桃園一日遊</a>
      <div id="menu">
        <a id="order" href="./order">我的訂單</a>
        <a id="plan" href="./cart">預定行程</a>
        <a id="login" href="/login">登入</a>
        <a id="register" href="./register">註冊</a>
        <a id="logout">登出</a>
      </div>

      <div id="menuMobile">
        <a id="order" href="./order">我的訂單</a>
        <a id="plan" href="./cart">預定行程</a>
        <a id="login" href="/login">登入</a>
        <a id="register" href="./register">註冊</a>
        <a id="logout">登出</a>
      </div>
    </header>
    <div class="empty-content"></div>

    <div class="topImage">
      <img id="topImage" src="images/topImage.jpg" />
    </div>

    <main>
      <div class="container"  >
        <a class="attraction"  v-for="attraction in attractionList" v-bind:href="'/attraction/' + attraction.id">
          <img
            class="attraction_img"
            v-bind:src="attraction.image[0]"
          />
          <div class="attraction_name">{{attraction.name}}</div>
          <div class="tag">
            <div>{{attraction.category[0]}}</div>
            <div>{{attraction.category[1]}}</div>
          </div>
        </a>
      </div>
    </main>
    <footer>COPYRIGHT © 2024 桃園一日遊</footer>




    <script src="/script/vue.js"></script>
    <script src="/script/axios.min.js"></script>
    <script src="/script/index.js"></script>
  </body>
</html>
