<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>桃園一日遊-註冊</title>
    <link rel="stylesheet" type="text/css" href="./css/register.css" />
    <link rel="icon" href="images/trip.png" type="image/x-icon" />
  </head>
  <body>
    <div id="registerForm">
      <div id="registerTitle">註冊桃園一日遊會員</div>
      <form action="./register_success" method="post">
        <div class="inputItem">
          <div>
            <label>帳號名稱:</label>
            <input type="text" name="userName" placeholder="請輸入帳號" />
          </div>
          <span class="errorMsg">請輸入正確格式</span>
        </div>
        <div class="inputItem">
          <div>
            <label>帳號密碼:</label>
            <input type="text" name="password" placeholder="請輸入密碼" />
          </div>
          <span class="errorMsg">請輸入正確格式</span>
        </div>
        <div class="inputItem">
          <div>
            <label>確認密碼:</label>
            <input
              type="text"
              name="confirmPassword"
              placeholder="再次入密碼"
            />
          </div>
          <span class="errorMsg">請輸入正確格式</span>
        </div>
        <div class="inputItem">
          <div>
            <label>電子郵件:</label>
            <input type="text" name="email" placeholder="請輸入信箱" />
          </div>
          <span class="errorMsg">請輸入正確格式</span>
        </div>
        <div class="inputItem">
          <div>
            <label>驗 證 碼:</label>
            <input type="text" name="verify" placeholder="請輸入驗證碼" />
          </div>
          <span class="errorMsg">驗證碼錯誤</span>
        </div>
        <div id="registerBtmDiv">
          <button id="registerBtm" type="submit">註冊</button>
        </div>
      </form>
    </div>
  </body>
</html>
