<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jerryli.taoyuandaytrip.mapper.RegisterMapper">

    <select id="getUserByAccount" resultType="jerryli.taoyuandaytrip.pojo.User">
        select * from user where account = #{account}
    </select>
    <select id="getUserByEmail" resultType="jerryli.taoyuandaytrip.pojo.User">
        select * from user where email = #{email}
    </select>
    <insert id="addUser">
        insert into user
        values (null, #{user.account}, #{user.email}, #{user.password}, #{user.phone}, #{user.role})
    </insert>

</mapper>